.defaultText {
  font-size: 16;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
  fill: white;
}

.keyword {
  fill: deepskyblue
}

.string-literal {
  fill: goldenrod
}

.value {
  fill: firebrick
}

.comment {
  fill: green
}

.area-A-col {
  x: 17%
}

.pic-col {
  x: 48%
}

.value-col {
  x: 82%
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

.row1 {
  y:10%
}

.row2 {
  y:16%
}

.row3 {
  y:22%
}

.row4 {
  y:28%
}

.row5 {
  y:34%
}

.row6 {
  y:40%
}

.row7 {
  y:46%
}

.row8 {
  y:52%
}

.row9 {
  y:58%
}

.row10 {
  y:64%
}

.row11 {
  y:70%
}

.row12 {
  y:76%
}

.row13 {
  y:82%
}

.row14 {
  y:88%
}

.row15 {
  y:94%
}


